*{
    margin:0;
    padding:0;
    border:none;
}
h1{
    color: red;
}
#hero-image{
    width: 100%;
    height: 600px;
    background: url('../images/hero4.jpg') no-repeat center center;
    background-size :1600px;
    background-position: center;

    }